:root {
    --primary-color: #FFDE00;
    --primary-light-color: #FFE769;
    --secondary-color: #FFE4BA;
    --secondary-light-color: #FFF6E8;
    --post-color: #62EEA8;
    --delete-color: #FF9F9F;
    --light-color: #FFFEFC;
    --grey-color: #747E79;
    --dark-color: #000000;

    --primary-font: 'Cabin', sans-serif;
    --seconday-font: 'Calistoga', sans-serif;
    
    
    
    --maximum-width: 250px;
}


.split {
    height: 100%;
    width:50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;

}

.left {
    left:0;
}

.right {
    right:0;
}

.center {
    
    text-align: center;
    top:50%;    
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    color: var(--dark-color);
    background-color: var(--secondary-light-color);
    font-family: var(--primary-font);
}

/* === Typography === */

h1, h2 {
    margin: 0;
}

h2 {
    font-weight: 500;
}

.app-title {
    font-family: var(--seconday-font);
    font-size: 2.5em;
    text-align: center;
}

/* === Sections === */

section {
    margin: 3em 0;
}

.auth-fields-and-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

* /*=== User Section === */

.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
}

.user-section img {
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: var(--border-width) solid var(--dark-color);
}

.user-section h2 {
    font-size: 1.2em;
}


/* === Nav === */

nav {
    margin: 0.6em 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
}

.user-section img {
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: var(--border-width) solid var(--dark-color);
}

.user-section h2 {
    font-size: 1.2em;
}
/* === Structure === */
.contain {
    margin: 0 auto;
    display: flex;
    width: 100%;
    background-color: white;
    text-align: center;
}
.container {
    max-width: var(--maximum-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: wheat;
    vertical-align: middle
}
.MainImage {
    margin-top: -40px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#logged-out-view .container {
    gap: 2em;
}

/* === Common for elements === */


input, button, textarea {
    font-family: inherit;
    padding: var(--element-padding);
    border-radius: var(--element-border-radius);
    width: 100%;
    box-sizing: border-box;

    --border-width: 2px;
    --element-border-radius: 5px;
    
    --button-height: 15px;
    
    --small-button-height: 2px;
    
    --element-padding: 0.8em;
 }
 
 
 input, button {
    font-size: 1.1em;
    text-align: center;
    border: var(--border-width) solid var(--dark-color);
 }


 
 
 input:focus, button:focus, textarea:focus {
    outline: none;
 }
 
/* this is for the user profile */
.app-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

/* === Input fields === */
textarea {
    font-size: 1em;
    border: 0;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .25);
    resize: none;
    width:100%;
    max-width: 100%;
    height: 4em;
 }
 
 
 textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--grey-color);
    opacity: 1; /* Firefox */
 }
 
 
 textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--grey-color);
 }

 textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--grey-color);
 }
 
 

input {
    font-weight: 300;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--grey-color);
    opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--grey-color);
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--grey-color);
}

/* === Buttons === */

button {
    font-weight: 600;
    width: 100%;
    border:none;
}

button:hover {
    cursor: pointer;
}

.primary-btn {
    background-color: var(--primary-color);
    box-shadow: 0px var(--button-height) 0px 0px var(--dark-color);
    position: relative;
}

.primary-btn:hover {
    top: var(--button-height);
    box-shadow: none;
}

.secondary-btn {
    padding: 0.4em;
    background-color: transparent;
}

.secondary-btn:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}

.provider-btn {
    color: var(--dark-color);
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border: 0;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .25);
}

.provider-btn:hover {
    transition: all 0.2s ease;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .25);
}

.google-btn-logo {
    width: 1.375em;
}

/* 
classes to make the sign out buttons work 
*/

.icon-img-btn {
    width: 1.875em;
}

.icon-img-btn:hover {
    filter: invert(0.5);
}
/* === IDs === */

#logged-out-view {
    display: none;
}

#logged-in-view {
    
    display: none;
}
/* === Post Section === */


.post-section {
    display: flex;
    flex-direction: row;
    gap: 1em;
 }

#post-input {
    width:fit-content;
}
/*  credit:coursera */



/* FLEX BOX STUFF */

.flex-container {
    display:flex;
    flex-direction: row;
    align-content: center;
}

#name, #email, #number, #dropdown, #issue, #room, #dropdown-2 {
    display: block;
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 30px;
}

#issue {
    height:100px;
    text-align: unset;
    
}

header {
    width: 100%;
    background-color: #f8f9fa; 
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
   


}

#b-tech {
    position: static;
    height: 100%;
    max-width: 120px;
    
    
}
.intro {
    right:0;
    text-align: center;
    font-family: "playfair-display", serif;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    font-size:x-large
    
   
}



label[for=name], 
label[for=email],
label[for=number],
label[for=dropdown],
label[for=dropdown-2],
label[for=issue],
label[for=room] {
  margin-bottom: 10px;
  display: inline-block;
}

.Header {
    text-align: center;
    color:white

}

.main-content {
    position: relative;
    top: 490px;
    background-color:hsl(212, 94%, 20%);
    max-width: 650px;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 0 auto;
   
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 2;
    
    
    
  
  }

  
